
## DONT UPLOAD YOUR LOCAL CHANGES TO GIT. KEEP IT IN YOUR LOCAL ##

[DEFAULT]

WANDB_ENABLE = FALSE
ENV = LOCAL

[MAIN]

# weights & biases
WANDB_LOGIN = e4eae987f6b018b0dcddf9e69b6170993b2f6f60 
PATH_ROOT = /path/to/files 
PATH_DATA = /path/to/files 
NGROK_TOKEN = (for vscode remote-ssh) 
NGROK_PASS = (for vscode remote-ssh)  
AWS_ACCESS_KEY = putithere
AWS_ACCESS_SECRET_KEY = andhere



