
## DONT UPLOAD YOUR LOCAL CHANGES TO GIT. KEEP IT IN YOUR LOCAL ##

[DEFAULT]
WANDB_ENABLE = FALSE
ENV = LOCAL

[MAIN]
WANDB_LOGIN = e4eae987f6b018b0dcddf9e69b6170993b2f6f60 # weights & biases
PATH_ROOT = address.here # Fill Root Path Here
PATH_DATA = epsteindidntkillhimself # Fill Data Path Here 


